@charset "UTF-8";
@import "../css/font-icon.css";
.header .menu .menu__options li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  will-change: transform;
}

.header .menu .menu__options li a:hover {
  text-decoration: underline;
  transform: scale(1.04);
}

.icon {
  color: #fff;
  font-size: 20px;
}

.comments .comments__detail, .comments .comments__user {
  border: 1px solid #fff;
  padding: 15px 3px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  background: #8f57fd;
}

.container {
  display: grid;
  grid-template-rows: 70px auto auto 70px;
  grid-template: minmax(320px, 1fr);
  grid-row-gap: 5px;
  background: #8f57fd;
  color: #fff;
  font-family: "Muli", sans-serif;
  padding: 5px 15px;
  align-content: space-evenly;
  min-width: 320px;
}

.header {
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 5px;
  align-items: center;
}
.header figure {
  margin: 0;
}
.header figure img {
  vertical-align: top;
  height: 70px;
}
.header .menu {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
  cursor: pointer;
}
.header .menu .menu__options {
  margin: 0;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0;
  width: 110px;
  display: none;
}
.header .menu .menu__options li {
  list-style: none;
  margin-bottom: 10px;
}
.header .menu .menu__options li a {
  letter-spacing: 0.5px;
}
.header .menu:hover .menu__options {
  display: block;
}
.header .icon-user-circle:before {
  content: "";
  font-size: 2em;
  margin: 0 7px;
}

.video {
  display: grid;
  grid-template-rows: repear(2, auto);
  grid-row-gap: 5px;
  justify-content: center;
}
.video .video__item {
  width: 100%;
  height: auto;
}
.video .video__controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5px;
  justify-content: start;
}
.video .button {
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  background: #ab88ff;
  outline: none;
  cursor: pointer;
}

.icon-play2:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-unmute:before {
  content: "";
}

.icon-mute:before {
  content: "";
}

.ads {
  position: absolute;
  width: 600px;
  height: 80px;
  background: #FFF;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.ads a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ads a img {
  width: 70px;
  height: 70px;
}
.ads a div {
  width: 530px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.ads a div h5 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 5px;
}
.ads a div p {
  margin: 0;
}

.comments {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-auto-rows: 100px;
  grid-gap: 10px;
  justify-items: flex-start;
}
.comments h2 {
  grid-column: 1/span 2;
}
.comments .comments__user {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
}
.comments .comments__user::after {
  content: ":";
}
.comments .comments__detail {
  background: rgba(255, 255, 255, 0.25);
}

/*# sourceMappingURL=mediaPlayer.css.map */
