//icons
@import "../css/font-icon.css";

//VARIABLES
$color-font: #fff;
$font-muli: "Muli", sans-serif;
$height-header-footer: 70px;
$height-video: auto;

//Extend
%a-settings {
  display: inline-block;
  text-decoration: none;
  color: $color-font;
  transition: 0.2s;
  will-change: transform;
}
%a-transform {
  text-decoration: underline;
  transform: scale(1.04);
}
%icon-settings {
  color: $color-font;
  font-size: 20px;
}
%comments-settings {
  border: 1px solid #fff;
  padding: 15px 3px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;  
}

body {
  margin: 0;
  background: #8f57fd;
}

.container {
  display: grid;
  grid-template-rows: $height-header-footer $height-video auto $height-header-footer;
  grid-template: minmax(320px, 1fr);
  grid-row-gap: 5px;
  background: #8f57fd;
  color: $color-font;
  font-family: $font-muli;
  padding: 5px 15px;
  align-content: space-evenly;
  min-width: 320px;
}

//HEADER
.header {
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 5px;
  align-items: center;

  figure {
    margin: 0;
    img {
      vertical-align: top;
      height: 70px;
    }
  }

  .menu {
    grid-column-start: 3;
    display: flex;
    align-items: center;
    position: relative;
    height: inherit;
    cursor: pointer;

    .menu__options {
      margin: 0;
      padding: 0;
      text-align: right;
      position: absolute;
      top: 100%;
      right: 0;
      width: 110px;
      display: none;

      li {
        list-style: none;
        margin-bottom: 10px;
        a {
          @extend %a-settings;
          letter-spacing: 0.5px;
        }
        a:hover {
          @extend %a-transform;
        }
      }
    }
  }

  .menu:hover .menu__options {
    display: block;
  }

  .icon-user-circle:before {
    content: "\e900";
    font-size: 2em;
    margin: 0 7px;
  }
}
//END HEADER

//VIDEO
.video {
  display: grid;
  grid-template-rows: repear(2, auto);
  grid-row-gap: 5px;
  justify-content: center;

  .video__item {
    width: 100%;
    height: auto;
  }

  .video__controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 5px;
    justify-content: start;
  }

  .button {
    border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    background: #ab88ff;
    outline: none;
    cursor: pointer;
  }
}

.icon {
  @extend %icon-settings;
}

.icon-play2:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-unmute:before {
  content: "\ea27";
}
.icon-mute:before {
  content: "\ea2a";
}
//END VIDEO

//START COMMENTS
.comments {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-auto-rows: 100px;
  grid-gap: 10px;
  justify-items: flex-start;  

  h2 {
    grid-column: 1 / span 2;
  }

  .comments__user {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.4);
    @extend %comments-settings;
  }
  .comments__user::after {
    content: ":";
  }

  .comments__detail {
    @extend %comments-settings;
    background: rgba(255, 255, 255, 0.25);
  }
}
//END COMMNETS
