@charset "UTF-8";
@import '../css/font-icon.css';
.footer a, .header .menu .menu__options li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  will-change: transform;
}

.footer a:hover, .header .menu .menu__options li a:hover {
  text-decoration: underline;
  transform: scale(1.04);
}

body {
  margin: 0;
}

.container {
  background: #8f57fd;
  color: #fff;
  font-family: "Muli", sans-serif;
  padding: 5px 15px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 5px;
}

.header {
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 5px;
  align-items: center;
}
.header figure {
  margin: 0;
}
.header figure img {
  vertical-align: top;
  height: 70px;
}
.header .menu {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
}
.header .menu .menu__options {
  margin: 0;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0;
  width: 110px;
  display: none;
}
.header .menu .menu__options li {
  list-style: none;
  margin-bottom: 10px;
}
.header .menu .menu__options li a {
  letter-spacing: 0.5px;
}
.header .menu:hover .menu__options {
  display: block;
}
.header .icon-user-circle:before {
  content: "";
  font-size: 2em;
  margin: 0 7px;
}

.search {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search label {
  margin-bottom: 10px;
  font-size: 1.5em;
}
.search .search__bar-container {
  position: relative;
  width: 65%;
}
.search .search__bar-input {
  height: 35px;
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background: #AB88FF;
  border-radius: 35px;
  padding: 0 10px;
  font-size: 0.9em;
  color: #fff;
  font-family: "Muli", sans-serif;
  position: relative;
  box-sizing: border-box;
}
.search .search__bar-input::placeholder {
  color: #fff;
}

.icon-search::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 35px;
}

.movies {
  display: grid;
  grid-auto-rows: 50px 350px;
  grid-gap: 5px;
  align-items: center;
}
.movies h3 {
  margin: 0;
}
.movies .carrousel__list {
  display: grid;
  grid-auto-columns: 200px;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 50px 0;
}
.movies .carrousel__list .carrousel__item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: 0.3s all;
  transform-origin: center left;
  cursor: pointer;
}
.movies .carrousel__list .carrousel__item figure {
  margin: 0;
}
.movies .carrousel__list .carrousel__item figure img {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  height: 250px;
}
.movies .carrousel__list .carrousel__item:hover {
  transform: scale(1.4);
  opacity: 1;
}
.movies .carrousel__list .carrousel__item:hover ~ .carrousel__item {
  transform: translateX(80px);
}
.movies .carrousel__list .carrousel__item:hover .carrousel__item-cover {
  display: block;
}
.movies .carrousel__list .carrousel__item-cover {
  position: absolute;
  width: 200px;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  display: none;
}
.movies .carrousel__list .carrousel__item-cover p {
  margin: 0;
}
.movies .carrousel__list .carrousel__item-cover .tittle__movie {
  font-size: 16px;
  font-weight: 600px;
}
.movies .carrousel__list .carrousel__item-cover .detail__movie {
  font-size: 12px;
}

.carrousel__list:hover .carrousel__item {
  opacity: 0.5;
}

.icon {
  display: inline-block;
  color: #21C08B;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  background: #FFF;
}

.icon-plus:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.footer {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 15px;
  align-content: center;
  justify-content: start;
}

/*# sourceMappingURL=movies.css.map */
