// Variables
$background-color-up: #21c08b;
$background-color-down: #8f57fd;
$height-header: 70px;
$height-login: minmax(357px, calc(100vh - 170px));
$font-Muli: "Muli", sans-serif;
$color-font: #fff;

//Extends/Inheritance
%flex-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

%a-settings {
  text-decoration: none;
  color: $color-font;
  font-size: 0.9em;
  transition: 0.1s;
  will-change: transform;
}
%a-transform {
  text-decoration: underline;
  transform: scale(1.02);
  transform-origin: 0 100%;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template: $height-header $height-login 70px / 1fr 320px 1fr;
  grid-template-areas:
    "header header header"
    ". signup ."
    "footer footer footer";

  background: linear-gradient($background-color-up, $background-color-down);
  padding: 10px;
  box-sizing: border-box;
  font-family: $font-Muli;
  color: $color-font;
}

// START HEADER
.header {
  grid-area: header;
  height: $height-header;
  figure {
    height: inherit;
    margin: 0;
    img {
      display: block;
      height: inherit;
    }
  }
}
// END HEADER

// START LOGIN
.signup {
  grid-area: signup;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 5px;
  align-items: center;
  align-content: space-evenly;
  font-size: 16px;
  border: 1px solid $color-font;
  border-radius: 25px;
  padding: 0 30px;
  background: rgba(255, 255, 255, .1);  

  h2 {
    margin: 0;
    margin: 15px 0;
    font-size: 1.3em;
  }

  form {
    > input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
      outline: none;
      border: 0;
      border-bottom: 1px solid $color-font;
      background: transparent;
      padding: 10px;
      font-size: 0.9em;
      color: $color-font;
      font-family: $font-Muli;
    }
    input::placeholder {
      color: $color-font;
      font-weight: 100;
    }

    button {
      width: 100%;
      border: 0;
      height: 40px;
      border-radius: 50px;
      outline: none;
      font-family: $font-Muli;
      font-size: 0.9em;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.4);
      color: $color-font;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.3s;
      will-change: transform;
    }
    button:active {
      transform: scale(0.9);
    }
  }

  .singup__login {
    font-size: 0.9em;
    p{
      margin: 0;
      margin-bottom: 15px;
    }
    a{
      display: inline-block;
      @extend %a-settings;
      font-size: 1em;
      font-weight: 600;
    }
    a:hover{
      @extend %a-transform;
      
    }
  }
}
// END LOGIN

// START FOOTER
.footer {
  grid-area: footer;
  @extend %flex-settings;
  justify-content: flex-start;

  a{
    @extend %a-settings;
    margin-right: 10px;
  }
  a:hover{
    @extend %a-transform;
  }
}
// END FOOTER

//MEDIA QUERIES
@media screen and (max-width: 480px) {
  $height-header: 50px;
  $height-login: minmax(357px, calc(100vh - 150px));

  .container {
    grid-template: $height-header $height-login 70px / minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "signup"
      "footer";
  }

  .header {
    height: $height-header;
    figure {
      height: inherit;
      img {
        height: inherit;
      }
    }
  }

  .signup{
    font-size: 14px;
    border: initial;
    border-radius: initial;
    padding: 0;
    background: none; 

    .singup__login {
      text-align: center;
    }
  }

  .footer {
    flex-direction: column;    
    a {
      @extend %a-settings;
      margin-right: 0;
      margin-bottom: 10px;
      display: block;
      text-align: center;      
    }
    a:hover {
      @extend %a-transform;
    }
    a:last-child{
      margin-bottom: 0;
    }
  }
}
//END MEDIA QUERIES
