.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a, .signup .singup__login a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  transition: 0.1s;
  will-change: transform;
}

.footer a:hover, .signup .singup__login a:hover {
  text-decoration: underline;
  transform: scale(1.02);
  transform-origin: 0 100%;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template: 70px minmax(357px, calc(100vh - 170px)) 70px/1fr 320px 1fr;
  grid-template-areas: "header header header" ". signup ." "footer footer footer";
  background: linear-gradient(#21c08b, #8f57fd);
  padding: 10px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  color: #fff;
}

.header {
  grid-area: header;
  height: 70px;
}
.header figure {
  height: inherit;
  margin: 0;
}
.header figure img {
  display: block;
  height: inherit;
}

.signup {
  grid-area: signup;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 5px;
  align-items: center;
  align-content: space-evenly;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.1);
}
.signup h2 {
  margin: 0;
  margin: 15px 0;
  font-size: 1.3em;
}
.signup form > input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding: 10px;
  font-size: 0.9em;
  color: #fff;
  font-family: "Muli", sans-serif;
}
.signup form input::placeholder {
  color: #fff;
  font-weight: 100;
}
.signup form button {
  width: 100%;
  border: 0;
  height: 40px;
  border-radius: 50px;
  outline: none;
  font-family: "Muli", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
  will-change: transform;
}
.signup form button:active {
  transform: scale(0.9);
}
.signup .singup__login {
  font-size: 0.9em;
}
.signup .singup__login p {
  margin: 0;
  margin-bottom: 15px;
}
.signup .singup__login a {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
}
.footer {
  grid-area: footer;
  justify-content: flex-start;
}
.footer a {
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .container {
    grid-template: 50px minmax(357px, calc(100vh - 150px)) 70px/minmax(320px, 1fr);
    grid-template-areas: "header" "signup" "footer";
  }

  .header {
    height: 50px;
  }
  .header figure {
    height: inherit;
  }
  .header figure img {
    height: inherit;
  }

  .signup {
    font-size: 14px;
    border: initial;
    border-radius: initial;
    padding: 0;
    background: none;
  }
  .signup .singup__login {
    text-align: center;
  }

  .footer {
    flex-direction: column;
  }
  .footer a {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  .footer a:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=signup.css.map */
